.popularItemSectionContent {
   position: relative;
   padding-left: 10px;
   margin: 0 auto;
   width: 80%;
}

.scroll-container {
   width: 100%;
   overflow: scroll;
   position: relative;
   /* hide scrollbar */
   -ms-overflow-style: none; /* Internet Explorer 10+ */
   scrollbar-width: none; /* Firefox */
}
.scroll-container::-webkit-scrollbar {
   display: none; /* Chrome, Safari, Opera*/
}

.scroll-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
