.iconBtn {
   display: flex;
   padding: 10px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.5s ease;
}

.iconBtn.light {
   background-color: #ffffff;
   color: #989898;
}
.iconBtn.warning {
   background-color: #fef1ea;
   color: #f17228;
}

.iconBtn.danger {
   background-color: #fc7056;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
}
.iconBtn:hover {
   background-color: #ffffffe0;
   color: #fc7056;
}
.iconBtn.danger:hover {
   background-color: #ffffffe0;
   border: 1px solid #fc7056;
   color: #fc7056;
}

.icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin-right: 8px;
}

.icon img {
   width: 20px;
}

.btn-secondary {
   background-color: gray;
   color: white;
}

.btnColor {
   background-color: #f17228;
   color: white;
   border-radius: 5px;
   display: inline;
   margin: 0;
}
.btnColor:hover {
   background-color: #ffffffe0;
   color: #fc7056;
   border: 1px Solid #fc7056;
}
