.iconBtn {
  display: flex;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.iconBtn.light {
  background-color: #ffffff;
  color: #989898;
}
.iconBtn.warning {
  background-color: #fef1ea;
  color: #f17228;
}

.iconBtn.danger {
  background-color: #fc7056;
  color: #fff;
}

/* TODO: Need to implement border color; */

.iconBtn:hover {
  color: #fc7056;
  background-color: #fff;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.icon img {
  width: 20px;
}

.btn-secondary {
  background-color: gray;
  color: white;
}
