.menu-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 2px 1px 9px 2px rgba(0, 0, 0, 0.293);
  overflow: hidden;
}

.menu-left {
  flex: 0.3;
  padding: 20px 25px;
}

.menu-right {
  flex: 0.7;
  overflow: hidden;
}

.menu-left-content h1 {
  font-size: 2rem;
  font-weight: 700;
}

.content-head {
  color: #ffb30e;
}
.menu-left-content p {
  margin-top: 10px;
  width: 95%;
  font-size: 0.9rem;
  color: #929292;
}

.menu-left-button {
  margin-top: 40px;
}
.order-btn {
  width: 100%;
  color: white;
  background-color: #ffb20e;
  z-index: 1;
  border: 1px solid #ffb20e;
}
.menu-right img {
  height: 340px;
  flex: 1;
}
@media screen and (max-width: 992px) {
  .order-btn {
    padding: 5px 10px;
    width: 100%;
  }
  .menu-right {
    height: 340px;
  }
  .menu-left {
    flex: 0.4;
  }

  .menu-right {
    flex: 0.6;
  }
}

@media screen and (max-width: 576px) {
  .menu-sub {
    flex-direction: column-reverse;
  }
  .menu-right img {
    height: 250px;
  }
}
