.MenuSectionMain {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 4rem;
  margin: 70px 0px;
}
.MenuSectionMain div:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}
