:root {
  --orange: #f17228;
  --lightyellow: #fbce2c;
}

.hero {
  height: 90vh;
  width: 100%;
  background-color: #ffb30e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.hero-head {
  font-size: 4rem;
  color: white;
}
.hero-para {
  font-size: 1.3rem;
  font-weight: 500;
}
.hero-sub {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.hero-sub-sub {
  display: flex;
  gap: 10px;
}
.search {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.ser {
  display: flex;
  align-items: center;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 5px;
}
/* .ser img {
  padding-left: 5px;
} */

.inp {
  height: full;
  padding: 10px;
  border: none;
  font-size: 1rem;
}

.hero-right {
  position: relative;
}
.baseImg {
  position: relative;
  width: 450px;
  bottom: -50px;
}
/* .inputSearch {
  display: flex;
  align-items: center;
  background-color: #fc7056;
} */
