.mainItems {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20px auto;
   max-width: fit-content;
}
.content {
   display: grid;
   max-width: fit-content;
}
.content img {
   border-radius: 20px;
   width: 250px;
}
.content h5 {
   color: black;
   font-size: 1rem;
   font-weight: 600;
   margin-top: 10px;
   margin-bottom: 0;
}
.restaurent {
   color: #ffb20e;
}
.price {
   font-weight: 700;
}
