.searchMain {
  background-color: #fefaf1;
  padding: 20px 0px;
}
.searchSub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 3fr 1fr;
}

.searchView {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}
.searchView p {
  margin: auto;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  color: #ffb20e;
}

.arrowView {
  display: flex;
  gap: 0;
}
.sliderButton {
  margin: 10px;
}
.scroll-container {
  overflow: scroll;
  position: relative;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.searchContent {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .searchView {
    display: none;
  }
}
