.pramotionSection {
   /* width: 99vw;*/
   height: 100%;
   background-image: url(../../Assets/Images/PramotionSection/BackgroundImg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   /* object-fit: fill; */
}

/* .pramotionSectionMain {
   display: flex;
} */

.pramotionSectionMain {
   padding: 100px 150px;
   border: 1px Solid green;
}
.pramotionCard {
   border: none;
   background-color: #fff;
   border-radius: 40px;
   padding: 40px;
}

.pramotionCardBox {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.pramotionIconSetup {
   display: flex;
   align-items: center;
}
.pramotionIconSetup h1 {
   max-width: 200px;
   padding-left: 15px;
   background-image: linear-gradient(45deg, #fb3c00, #ffb800);
   font-weight: 700;

   background-size: 100%;
   background-repeat: repeat;

   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
   background-clip: text;
}
