.workSectionContainer {
   padding: 50px 0;
   background-image: linear-gradient(to top, #fff, #fff9ed);
}
.workSection {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 4% 0;
   gap: 10px;
}
