.searchByFoodHead {
  background-color: #fefaf1;
}
.searchFooter {
  margin: auto 20px;
  align-items: center;
  border-radius: 30px;
  text-align: center;
  transition: transform 0.3s;
}
.searchFooter img {
  margin-top: 50px;
  width: 160px;
  border-radius: 50%;
}
.searchFooter:hover {
  transform: scale(1.2);
}
.searchFooter p {
  font-size: 1rem;
  font-weight: 700;
}
