.offerProduct img {
   border-radius: 20px;
   width: 300px;
}
.offerTop {
   position: relative;
}

.offer {
   background-color: #ffb20e;
   width: 120px;
   border-radius: 0 25px 0 18px;
   padding: 5px 10px;
   position: absolute;
   top: 177px;
}
.offer h1 {
   font-size: 3rem;
   font-weight: 700;
   color: white;
}
.offerUnit {
   display: flex;
   flex-direction: column;
   color: white;
}
.upper {
   font-size: 24px;
   margin-bottom: -5px;
   font-weight: 700;
}
.bottom {
   font-size: 18px;
   margin-top: -5px;
}
.offerBottom P {
   font-size: 18px;
   font-weight: 700;
   margin-top: 25px;
}
.offerTimer {
   margin-top: -25px;
}
.offerTimer p {
   font-size: 16px;
   font-weight: 700;
   color: #f17228;
   background-color: #fce3d4;
   display: inline-block;
   padding: 7px 20px;
   border-radius: 10px;
}

@media (max-width: 992px) {
   .offer h1 {
      font-size: 3rem;
   }
}
