.featuredMain {
   display: grid;
   place-items: center;
   margin: 80px auto;
}

.featuredContent {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

/* .featuredContent {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-flow: dense;
} */
footer {
   margin: 60px auto;
   padding: 60px auto;
}
